.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
}
h3{
  text-align: left;
  color: rgb(46, 108, 230);
  font-size: 60px;
  position: absolute;
  top: 13%;
  left: 15%;
}

#opt1{
  position: absolute;
  top: 32%;
  left: 7%;
  font-size: 20px;
  }
#opt2{
  position: absolute;
  top: 40%;
  left: 7%;
  font-size: 20px;
  }
#opt3{
  position: absolute;
  top: 48%;
  left: 7%;
  font-size: 20px;
  }
#opt4{
  position: absolute;
  top: 56%;
  left: 7%;
  font-size: 20px;
}
#opt5{
  position: absolute;
  top: 64%;
  left: 7%;
  font-size: 20px;
  }

