.intro{
    position: absolute;
    left: 40%;
    top: 16%;
    height: 50%;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 22px 56px 0 rgba(0,0,0,0.19);
    color: rgb(46, 108, 230);
    text-align: left;
    padding: 2.5%;

}
#head{
    font-size: 50px;
}
