
#butts{
  text-align: center;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  left: 30%;
  right: 40%;
  top: 31.5%;
}
#output{
  text-align: left;
  background-color: white;
  border-radius: 15px;
  height: 28%;
  width: 25%;
  position: absolute;
  left: 50%;
  right: 15%;
  top: 29%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 22px 56px 0 rgba(0,0,0,0.19);  
}

#stdout{
  font-family: "Courier New", Courier, monospace;
  margin: 3% 3% 3% 3%;
  text-align: justify;
  color: rgb(46, 108, 230);
}


